.lottery-sec {
  background-color: $bodyRed;
  background-position: center;
  background-repeat: no-repeat;
  @include breakpoint($ipad){
    background-size: contain;
  }
  #lottery {
    border-radius: 5px;
    padding: 3px;
    margin: 80px auto;
    background-color: $transparency;
    max-width: 882px;
    max-height: 600px;
    display: flex;
    flex-direction: column;



    .lottery__row {
      display: flex;
      flex-direction: row;

      .lottery-unit {
        position: relative;
        max-width: 213px;
        max-height: 155px;
        margin: 3px;
        background-color: white;
        border: 2px solid $transparency;
        padding: 30px;
        flex: 1 1 25%;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: .9rem;
          text-align: center;
          display: block;
          width: 100%;
          background-color: #feed00;
          padding: 5px;
          position: absolute;
          bottom: 0;
        }
      }
      div.select {
        border: 2px solid $select;
      }

      .lottery-start {
        margin: 6px;
        cursor: pointer;
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}